

@{
    ViewData["Title"] = "Main Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['Ukraine', 400],
          ['Spain', 700],
          ['Denmark', 200],
          ['Russia', 0],
          ['Africa', 12]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 1420px; height: 700px; text-align: center;"></div>

  </body>
  <body>
      <div id="design">
          <style>
          hr{
          border: none;
          background-color: black;
          color: black;
          height: 2px;
          }
          </style>
      </div>
      
    <div class="d-flex flex-column justify-content-center w-100 h-100">

	
</div>
  </body>
</html>

