

@{
    ViewData["Title"] = "Main Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
   
  <head>
      <style>
      #regions_div{
      text-align: center;
      display:block;
      }
      </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['Ukraine', 400],
          ['Spain', 700],
          ['Denmark', 200],
          ['Russia', 0],
          ['Africa', 12],
          ['Australia', 130]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 850px; height: 500px; text-align: center;"></div>
      <ol class="gradient-list">
    <li>Ukraine - 76 % - 400€ </li>
    <li>Russia - 0 % - РВКИН</li>
    <li>Germany - 30 % - 220€</li>
    <li>France - 45 % - 220€</li>
   
   
  </ol>

  </body>

</html>

