html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
* {
    margin: 0;
    padding: 0;
}

.text-box {
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span {
    animation: mover 6s linear infinite;
    display: inline-block;

    color: black;
    font-weight: bolder;
}

@keyframes mover {
    0% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }

    50% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(30px);
    }

    100% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
}

span:nth-child(1) {
    animation-delay: 0.5s;
}

span:nth-child(2) {
    animation-delay: 1s;
}

span:nth-child(3) {
    animation-delay: 1.5s;
}

span:nth-child(4) {
    animation-delay: 2s;
}

span:nth-child(5) {
    animation-delay: 2.5s;
}

span:nth-child(6) {
    animation-delay: 3s;
}

span:nth-child(7) {
    animation-delay: 3.5s;
}span:nth-child(8) {
    animation-delay: 4s;
}span:nth-child(9) {
    animation-delay: 4.5s;
}span:nth-child(10) {
    animation-delay: 5s;
}

